AIRFLOW_IMAGE_NAME=apache/airflow:2.10.2
AIRFLOW_UID=50000
_PIP_ADDITIONAL_REQUIREMENTS=

DB_NAME=etl
DB_USER=elt

ICEBERG_DB_PASS=change-me
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_USER=change-me
MINIO_PASSWORD=change-me
MINIO_BUCKET=raw-bronze
MINIO_ENDPOINT=http://minio:9000

AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me

CLICKHOUSE_PASSWORD=change-me
